@charset "UTF-8";
* {
margin: 0;
padding: 0;
}

#txth1 {
    margin: auto;
    text-align: center;
}



body {
    background-color: rgb(0, 162, 255);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
    padding: 10px; 
    /*criei uma id pro h1 e coloquei aquelas duas config ali. se colocar width 100vw aq, ia quebrar*/
    
    display: flex;/*width 100% e margin auto p centralizar independente do tamanho, pode ser que seja preciso colocar display flex*/
    margin: auto;

}

section {
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 10px;
    padding: 30px;
    width: 40vw;
    height: 50vh;
    margin: auto;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.411);
    
}

#imagem {
    margin-top: 20px;
}

div {
    text-align: center;
    padding: 10px;
    
}

footer {
    font-size: 1rem;
     color: rgb(254, 254, 255);
     text-align: center;
     padding: 0.25rem;
     font-style: italic;
     text-decoration: none;
     
    
} 

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover {
    color: rgb(235, 159, 8);
    text-decoration: underline;
}

